@model IEnumerable<RR_LibraryManagementSystem.DataAccess.Domain.BookDetails>;
@{
    Layout = "ClientLayout/_ClientLayout";
}

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
        <div class="page-header d-flex align-items-center" style="background-image: url('~/client/assets/img/page-header.jpg');">
            <div class="container position-relative">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-6 text-center">
                        <h2>Services</h2>
                        <p>
                            <a>
                                Welcome to our book cars page! Here you can easily find and book the perfect car for your needs. We offer a wide range of vehicles to suit any occasion, from compact cars for a quick trip around town to luxury cars for a special event.

                                Our user-friendly booking system allows you to search for available cars based on your location, dates, and preferred vehicle type. You can also filter your search results by features such as automatic transmission, air conditioning, and fuel efficiency to find the perfect car for your trip.

                                We take pride in offering affordable rates and transparent pricing with no hidden fees or charges. Our flexible booking options also allow you to easily modify or cancel your reservation if your plans change.

                                With our convenient online booking system and reliable vehicles, you can enjoy a stress-free and enjoyable car rental experience. Book your car today and hit the road with confidence!
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <nav>
            <div class="container">
                <ol>
                    <li><a>Home</a></li>
                    <li>Services</li>
                </ol>
            </div>
        </nav>
    </div><!-- End Breadcrumbs -->
    <!-- ======= Services Section ======= -->
    <section id="service" class="services pt-0">
        <div class="container" data-aos="fade-up">

            <div class="section-header">
                <span>Our Services</span>
                <h2>Our Services</h2>

            </div>

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                @foreach (var item in Model)
                {
                    <div class="col">
                        <div class="card shadow-sm">
                            <img height="240" src="https://www.starprintbrokers.com/wp-content/uploads/2021/11/book-design-cover-isolated-874x1024.png" />
                            <div class="card-body">
                                <div class="text-center">
                                    <h2 class="text-primary">@item.BookName</h2>
                                    <h4><sup></sup>@item.Status<span></span></h4>
                                </div>
                                <div class="text-center">
                                    <div class="btn-group">
                                        <a asp-controller="User" asp-action="BookDetails" asp-route-id="@item.Id" class="btn btn-sm btn-outline-secondary">View Details</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }


            </div>

        </div>
    </section><!-- End Services Section -->


</main><!-- End #main -->