@model RR_LibraryManagementSystem.DataAccess.Domain.Signup_VM;
@{
    Layout = "AdminLayout/_AdminLoginLayout";
}
<div class="container mt-5">
    <div class="row">
        <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
            <div class="login-brand">
                Library Management System
            </div>

            <div class="card card-primary">
                <div class="card-header"><h4>Login</h4></div>

                <div class="card-body">
                    <form method="POST" class="needs-validation" novalidate="">
                        <div class="form-group">
                            <label for="fullname">FullName</label>
                            <input id="email" asp-for="FullName" type="tel" class="form-control" name="fullname" tabindex="1" required autofocus>
                            <div class="invalid-feedback">
                                Please fill in your fullname
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input id="email" asp-for="Email" type="email" class="form-control" name="email" tabindex="1" required autofocus>
                            <div class="invalid-feedback">
                                Please fill in your email
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="phone">Phone No.</label>
                            <input id="email" asp-for="PhoneNo" type="number" class="form-control" name="PhoneNo" tabindex="1" required autofocus>
                            <div class="invalid-feedback">
                                Please fill in your Number
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="d-block">
                                <label for="password" class="control-label">Password</label>

                            </div>
                            <input id="password" asp-for="Password" type="password" class="form-control" name="password" tabindex="2" required>
                            <div class="invalid-feedback">
                                please fill in your password
                            </div>
                            <div class="d-block">
                                <label for="confirmpassword" class="control-label">Confirm Password</label>

                            </div>
                            <input id="confirmPassword" asp-for="ConfirmPassword" type="password" class="form-control" name="confirmPassword" tabindex="2" required>
                            <div class="invalid-feedback">
                                please confirm your password
                            </div>
                        </div>



                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-lg btn-block" tabindex="4">
                                SignUp
                            </button>
                        </div>
                    </form>


                </div>
            </div>

            <div class="simple-footer">
                Copyright &copy; Libraray Management System
            </div>
        </div>
    </div>
</div>